"csgo_dont_blind_me"
{{
    "uri" "http://{host}:{port}"
    "timeout"   "1.1"
    "buffer"    "0.0"
    "throttle"  "0.0"
    "heartbeat" "300.0"
    "data"
    {{
        "player_id"    "1"
        "player_state" "1"
    }}
}}
