/build
/hook32.dll
/hook32.lib
/hook64.dll
/hook64.lib

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
